{% extends "header.html" %}

{% block content %}

    <div class="container-xxl  bg-primary pt-5" style="height:100px; width:100%; clear:both;">

    </div>
    <div class="container-xxl bg-white pt-5 border-top border-light">
        <div class="container">
            <div class="">
                <h1 class="text-primary mb-4 heading_font wow fadeInUp" data-wow-delay="0.2s"
                    style="padding-left: 15px;">
                    About Favorite Cafe
                </h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 text-left text-lg-start">
                    <p class="p-3 text-dark wow fadeInLeft" data-wow-delay="0.3s">
                        Welcome to Favorite Cafe, the ultimate online destination for coffee lovers and
                        cafe owners
                        alike!
                        Our website is designed to provide a comprehensive platform where passionate
                        coffee
                        enthusiasts can
                        discover new cafes, write reviews, rate their experiences, and connect with
                        other
                        like-minded
                        individuals from all over the world.

                        As a coffee lover, you will have access to an extensive database of cafes
                        worldwide. From
                        popular
                        chains to hidden gems, our platform has it all. You can easily search for cafes
                        based on
                        location,
                        cuisine, or price range, and add your favorite cafes to your personal list. Once
                        added, you
                        can
                        leave a review and a rating to share your thoughts with the community. You can
                        also follow
                        your
                        favorite cafes to stay up-to-date with their latest news and promotions.

                        At Favorite Cafe, we understand that owning a cafe is no easy feat. That's why
                        we created a
                        separate
                        platform for cafe owners to connect, collaborate, and grow their businesses. As
                        a cafe
                        owner, you
                        can create a profile for your cafe, add your menu along with prices and staff
                        information.
                        You can
                        also add multiple cafe locations if you own more than one establishment. While
                        owners cannot
                        write
                        reviews or rate cafes, they can still follow their competitors and gain valuable
                        insights
                        into
                        market trends.

                        Our website also features detailed information about countries and cities
                        worldwide. We have
                        curated
                        a comprehensive list of capital cities, currencies, and basic facts about each
                        country.
                        Additionally, our platform includes a detailed guide to most major cities around
                        the world,
                        complete
                        with a short history, latitude, and longitude coordinates. This feature is
                        especially useful
                        for
                        travelers who want to find great cafes in unfamiliar territories.

                        But that's not all! At Favorite Cafe, we are committed to providing our users
                        with the best
                        possible
                        experience. That's why we offer an API service that allows developers to
                        integrate our
                        database into
                        their websites and apps. With our API, you can access all of our data for free,
                        making it
                        easier
                        than ever to find the perfect cafe for your needs.

                        Last but not least, we have a blog where we post about all things
                        coffee-related. From
                        brewing
                        techniques to insider tips and industry news, our blog has everything you need
                        to stay
                        informed and
                        inspired. Our team of experts is always on the lookout for the latest trends and
                        innovations,
                        ensuring that our readers are up-to-date with the latest developments in the
                        world of
                        coffee.

                        In conclusion, Favorite Cafe is the ultimate online destination for coffee
                        lovers and cafe
                        owners
                        alike. With our comprehensive database, detailed city guides, and API service,
                        finding the
                        perfect
                        cafe has never been easier. So why wait? Sign up today and join our community of
                        passionate
                        coffee
                        enthusiasts from all over the world!
                    </p>

                </div>
                <div class="pt-3 col-lg-6 text-center text-lg-start image-div about-image animated zoomIn">
                    <img class="img-fluid rounded  first-image align-content-lg-start"
                         src="{{ url_for('static',filename='img/pexels-caeli-team-3714960.jpg') }}"
                         alt="" width="600"
                         height="500">
                </div>

            </div>

        </div>
    </div>

    <div class="container-xxl about-bg pt-5 ">
        <div class="container">
            <div class="row g-5">
                <h1 class="about-text mb-4 heading_font wow fadeInUp" data-wow-delay="0.2s"
                    style="padding-left: 15px;">About Aurthur</h1>

                <div class="pt-3 col-lg-6 text-center text-lg-start image-div about-image animated zoomIn">
                    <img class="img-fluid rounded  first-image align-content-lg-start"
                         src="{{ url_for('static',filename='img/IMG-20220927-WA0003.jpg') }}" alt=""
                         width="600"
                         height="500">
                </div>
                <div class="col-lg-6 text-center text-lg-start image-div about-image wow fadeInRight"
                     data-wow-delay="0.2s">
                    <p class="p-3 text-dark wow fadeInRight" data-wow-delay="0.3s">
                        My name is Pourya Mohamadi, and I'm a self-taught Python back-end
                        developer.
                        My
                        website provides a platform for people to discover new cafes and share their
                        experiences
                        with
                        others. As
                        someone who enjoys exploring new cafes, I wanted to create a space where people
                        could find
                        recommendations and reviews that were authentic, informative, and up-to-date.

                        As a developer, I've had the opportunity to learn a lot about creating
                        functional,
                        user-friendly
                        websites. I've taken on projects big and small, but creating this site has been
                        my
                        biggest
                        challenge
                        yet. It's been an incredible journey that's helped me grow both as a developer
                        and
                        as a
                        person.

                        One of the things I'm most proud of is the API I've built for this website. It
                        pulls
                        data
                        from
                        various
                        sources to provide users with the most accurate and useful information possible.
                        This is
                        something I
                        really enjoy doing, and I'm always looking for ways to improve it.

                        With this website, I hope to create a community of people who share a passion
                        for
                        exploring
                        new
                        cafes
                        and supporting local businesses. Whether you're submitting a review or using the
                        site to
                        find your
                        next
                        cup of coffee, I'm grateful for your participation and support.

                        Thank you for taking the time to visit my website, and I hope you find it as
                        useful
                        and
                        enjoyable as
                        I
                        do.
                    </p>

                </div>
            </div>
        </div>
    </div>



    <div class="container-xxl  about-bg pt-5" style="height:100px; width:100%; clear:both;">


    </div>


{% endblock %}