{% extends "header.html" %}


{% block content %}
    <div class="container-xxl  bg-primary pt-5" style="height:100px; width:100%; clear:both;">

    </div>

    <div class="container-xxl bg-white pt-5">
        <div class="row justify-content-center p-5">
            <div class="col-md-8">

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}

                            <div class="alert alert-warning text-center align-items-center" role="alert">

                                <p class="flash my-auto"><i class="fa-solid fa-triangle-exclamation"></i> {{ message }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="card-group mb-0 border-0">
                    <div class="card p-4 col-12 col-md-6">
                        <div class="my-auto">
                            <div class="card-body">
                                <h1 class="heading_font text-primary">Recover Account</h1>
                                <p class="text-muted ">Enter Your Email Account</p>
                                <div class="input-group mb-3">
                                    <form method="post" action="">
                                        {{ form.csrf_token }}
                                        {{ form.hidden_tag() }}
                                        <div class="form-floating mb-3">
                                            {{ form.email(class='form-control',id='floatingInput',placeholder="username") }}
                                            {{ form.email.label(for=floatingInput) }}
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                {{ form.submit(class="btn btn-primary px-4") }}
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-primary p-0 col-6 col-md-12">
                        <div class="card-body p-0">

                            <img src="{{ url_for('static',filename='img/forgot_pw.jpg') }}"
                                 class="log-images" alt="...">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}