{% extends "header.html" %}

{% block content %}
    <div class="container-xxl  bg-primary pt-5" style="height:100px; width:100%; clear:both;">

    </div>
    <div class="container-xxl bg-white pt-5">
        <div class="row p-5 w-75 mx-auto">
            <div class="card col-12 col-md-6 center-block border-0 wow fadeInLeft" data-wow-delay="0.2s">
                <a href="{{ url_for('user_login') }}">
                    <div class="row g-0">
                        <div class="w-100">
                            <img src="{{ url_for('static',filename='img/login.jpg') }}"
                                 class="first-image" alt="..." width="600" height="500">
                        </div>
                        <div class="w-100">
                            <div class="card-body">
                                <h1 class="m-3 card-title  heading_font text-primary  border-top border-bottom border-info  text-center">
                                    <u>Log in</u></h1>
                                <p class="card-text text-dark
                                 text-center">If you Already have an account, please
                                    log in.
                                    to your account and share your favorite café with others</p>

                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card col-12 col-md-6 center-block border-0 wow fadeInRight" data-wow-delay="0.2s">
                <a href="{{ url_for('.signin_options') }}">
                    <div class="row g-0">
                        <div class="w-100">
                            <img src="{{ url_for('static',filename='img/signin.jpg') }}"
                                 class="first-image" alt="...">
                        </div>
                        <div class="w-100">
                            <div class="card-body">
                                <h1 class="heading_font m-3 card-title  text-primary  border-top border-bottom border-info  text-center">
                                    <u>Sign in</u></h1>
                                <p class="card-text text-dark  text-center">If you Own a cafe or You are a Coffee
                                    Lover this is a
                                    Right
                                    Place for You Join us Today and Share Your Story's With Our AwsomeCommunity</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}