{% extends "header.html" %}


{% block content %}

    <div class="container-xxl bg-primary hero-header mb-0">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start dashboard-text">
                    <h1 class="text-white mb-4 animated slideInDown">Change Email</h1>
                </div>
                <div class="col-lg-6 text-center text-lg-start dashboard-div">
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl bg-white mt-0 mb-0 pb-5">
        <div class="container pt-5">
            <div class="row justify-content-center">

                <div class="col-md-8">
                    <div class="card-group mb-0">
                        <div class="card p-4">
                            <div class="card-body">
                                <h1>Enter a New Email</h1>
                                <p class="text-muted">Edit Your Information</p>

                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {% for message in messages %}

                                            <div class="alert alert-warning text-center align-items-center"
                                                 role="alert">

                                                <p class="flash my-auto"><i
                                                        class="fa-solid fa-triangle-exclamation"></i> {{ message }}
                                                </p>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <form method="post" action="{{ url_for('change_email') }}">
                                    {{ form.csrf_token }}
                                    {{ form.email.label }}
                                    <div class="input-group mb-3">
                                        <span class="input-group-addon"></span>
                                        {{ form.email(class="form-control") }}
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            {{ form.submit(class="btn btn-primary px-4", href=url_for('private.change_email',method="post")) }}                </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}